body,
html {
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(243, 243, 243), white);
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mainHeading {
  font-size: 4rem;

  z-index: 2;
}

.subHeading {
  font-size: 3rem;
  margin-top: 1.5rem;
  z-index: 2;
  margin-bottom: 2rem;
}

.automationContainer {
  background-color: white;
  flex-grow: 2;
  height: 40rem;
  overflow: hidden;
  margin: 1.5rem;
  box-shadow: 2px 10px 20px rgb(144, 146, 5);
  padding: 1rem;
}
.automationImg {
  width: 100%;
  height: 39rem;
  margin-bottom: 2rem;
}
.classesContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: dotted;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-top: 2rem;
  z-index: 5;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
}

.detectionImg {
  width: 100%;
  height: 39rem;
  margin-bottom: 2rem;
}
.detectionContainer {
  background-color: white;
  flex-grow: 2;
  height: 40rem;
  overflow: hidden;
  margin: 1.5rem;
  padding: 1rem;

  box-shadow: 2px 10px 20px rgb(27, 78, 243);
}

.businessImg {
  width: 100%;
  height: 39rem;
  margin-bottom: 2rem;
}
.businessContainer {
  background-color: white;
  flex-grow: 2;
  height: 40rem;
  overflow: hidden;
  margin: 1.5rem;
  box-shadow: 2px 10px 20px rgb(24, 221, 90);
  padding: 1rem;
}
.classesHeading {
  font-size: 2rem;
  text-decoration: underline;
}

.blob {
  width: 20rem;
  margin-bottom: -17rem;
}

#secondContainer {
  margin-top: 3rem;
  width: 95%;
  min-width: 95%;
  box-shadow: 2px 2px 50px grey;
  margin-bottom: 2rem;
  background-color: white;
}

#subHeading2 {
  font-size: 2.4rem;

  text-shadow: 2px 2px 15px black;
  margin-bottom: 3rem;
}

#manufacContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#manufactText {
  width: 50%;
  margin: 2rem;
  text-align: left;
  padding: 2rem;
}

#manufactImage {
  width: 90%;
}

#detectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

#detectionText {
  order: 2;
  width: 50%;
  margin: 2rem;
  text-align: left;
  padding: 2rem;
}

#detectionImage {
  order: 1;
  width: 90%;
}

#flowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#flowText {
  width: 50%;
  margin: 2rem;
  text-align: left;
  padding: 2rem;
}

#flowImage {
  width: 90%;
}

.classHeadings2 {
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}
.classText2 {
  font-size: 1.4;
  text-align: center;
}

#thirdContainer {
  width: 100%;
  margin-top: 20px;
  margin-left: -48px;
}

#contactContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#contact1 {
  width: 48%;
  padding-bottom: 20px;
  margin-bottom: 30px;
  box-shadow: 2px 5px 10px grey;
  background-image: linear-gradient(to bottom, rgb(243, 243, 243), white);
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-width: 800px;
}

#contact2 {
  box-shadow: 2px 5px 10px grey;
  width: 48%;
  padding-bottom: 20px;
  margin-bottom: 30px;
  background-image: linear-gradient(to bottom, rgb(243, 243, 243), white);
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-width: 800px;
}

#contactMainHeading {
  margin-bottom: 30px;
  text-shadow: 2px 4px 10px grey;
  font-size: 40px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.formInputs {
  font-size: 20px;
  margin-bottom: 10px;
}

.formLabels {
  font-size: 22px;
  text-align: left;
  margin-bottom: 10px;
}

#submitForm {
  margin-left: 200px;
  margin-right: 200px;
  height: 50px;
  background-color: darkgrey;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}

#submitForm:hover {
  background-color: black;
}

.contactInfo {
  font-size: 30px;
  margin-bottom: -20px;
}

.contactHeaders {
  font-size: 30x;
  text-shadow: 0px 4px 8px grey;
  text-decoration: underline;
}
